.main-content {
  padding: 0 15px 25px 15px;
  
  .bio, .acac, .how-teach, .testimonials, .contact {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bio {
    h2 {
      padding-top: 10px;
    }
    .photo {
      width: 100%;
      height: 600px;
      border-radius: 4px;
      background-size: cover;
      background-position: center center;
    }
  }

  .acac, .how-teach {
    p {
      padding-bottom: 25px;
      span {
        display: block;
        font-weight: 700;
        &:before {
          content: "- ";
        }
      }
    }
  }

  .testimonials {
    p {
      padding-bottom: 25px;
      padding: 10px;
      margin-bottom: 25px;
      .fa-quote-left {
        color: darken($background-light-gray, 20%);
        padding-right: 5px;
        font-size: 18px;
      }
      span {
        font-style: italic;
        display: block;
        font-size: 14px;
        margin-top: 5px;
        &:before {
          content: "- ";
        }
      }
    }
  }

  .contact {
    p {
      padding-bottom: 10px;
      svg {
        font-size: 24px;
        padding-right: 10px;
        color: darken($background-light-gray, 20%);
      }
    }
  }
}

// tablet and bigger
@media (min-width: 768px) {
  .main-content {
    .bio {
      .photo {
        width: 85%;
        height: 600px;
      }
    }

    .testimonials {
      p {
        .fa-quote-left {
          padding-right: 10px;
          font-size: 24px;
        }
        span {
          font-size: 18px;
        }
      }
    }

    .bio, .acac, .how-teach, .testimonials, .contact {
      margin-top: 25px;
      padding: 0 100px 0 100px;
    }
  }
}
