html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @import './colors';
  font-size: 14px;
  background-color: $white;

  #garnett-site {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h1 {
      margin: 0px;
      font-size: 40px;
      font-weight: 700;
    }

    h2 {
      font-size: 18px;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    .blurb {
      width: 100%;
    }

    .loading {
      font-size: 75px;
      width: 85px;
      margin: 100px auto 50px;
      color: darken($background-light-gray, 20%);
      animation: spin 2.5s linear 0s infinite; // direction fill-mode;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(90deg); }
      50% { transform: rotate(180deg); }
      75% { transform: rotate(270deg); }
      100% { transform: rotate(360deg); }
    }

    h2.error {
      text-align: center;
      margin-top: 100px;
      color: $error-red;
    }

    @import './header';
    @import './menu-bar';
    @import './main-content';
    @import './news';
    
    .footer {
      background-color: $background-light-gray;
      padding: 10px;
      text-align: right;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

// tablet and bigger
@media (min-width: 768px) {
  html {
    #garnett-site {
      max-width: 100%;
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }
      .footer {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}
